{% extends 'menu.html' %}

<title>{% block title %}Новости{%  endblock %}</title>

<header>
    {% block pagename %}
    <h1>Новости</h1>
    {% endblock %}
</header>
<menu>
    {% block menu %}
    {{ block.super }}
    {% endblock %}
</menu>
<main>
    {% block content %}
    <hr>
    {% for post in page_obj %}
        <h2>{{ post.title }}</h2>
        <br>
        {{ post.content }}
        <br>
        <small style="float: right; margin-right: 20px;">{{ post.date }}</small>
        <hr>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endblock %}
</main>
<footer>
    {% block footer %}
    {{block.super}}
    {% endblock %}
</footer>
