<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<h3>Главная страница</h3>
<br>
<p><strong>task2</strong></p>
<p>Для перехода на страницу с функциональным шаблоном представления "func/"</p>
<p>Для перехода на страницу с классовым шаблоном представления "class/"</p>
<br>
<br>
<p><strong>Обновление. Базовые теги HTML:</strong></p>
<p>Для перехода к следующему заданию нужно перейти на <a href="/print_studio">"print_studio/"</a></p>
<br>
<br>
<p><strong>Обновление. DTL. Теги, наследование</strong></p>
<p>Так как на момент прохождения данной темы и
    выполнения домашнего задания предыдущие задания проверены не были<br>
    никакие маршруты изменяться не будут, код будет только дополняться.<br>
    <strong>Для большей ясности в названия функций и маршрутов будет указана цифра 4 или task4</strong><br>
    Для перехода к страницам задания прилагаю ссылку <a href="/print_studio_task4">task4</a>
</p>
<br>
<br>
<p><strong>Обновление. Формы отправки данных</strong></p>
<p>Т.к. на момент выполнения домашнего задания предыдущие проверены не были,<br>
    то <strong>вместо пустого маршрута для функции sign_up_by_html</strong> будет использован маршрут 'task5',<br>
    ссылка находится ниже
</p>

<p>Для перехода к данному заданию, где представлена фунция <strong>sign_up_by_html</strong> воспользуйтесь ссылкой <a href="/task5">task5</a>
<p>Вот ссылка на форму, созданную с помощью функции <a href="django_sign_up">sign_up_by_django</a></p>

</body>
</html>