<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
<h2> О нас </h2>
<p>Здесь размещена информация о расположении наших офисов, а так же телефоны и график работы</p>
<ul> У нас 6 офисов по городу Стеклянный:
    <li> пер. Печатный, 1<br> тел: ХХХ-Хх-Хх
    <li> бульвар Затопленный, 25<br> тел: ХХХ-Хх-Хх
    <li> ул. Ветром снесёт, 5<br> тел: ХХХ-Хх-Хх
    <li> пр. Выходной, 2б<br> тел: ХХХ-Хх-Хх
    <li> ул. Кошкина, 2<br> тел: ХХХ-Хх-Хх
    <li> пер. Сонный, 6<br> тел: ХХХ-Хх-Хх
</ul>
Работаем каждый день с утра и до изнеможения

<p><button onclick="window.location.href='/'">Главная страница</button></p>
<p><button onclick="window.location.href='/order'">Оформить заказ</button></p>
<p><button>Перезвоните мне</button></p><br>

</body>
</html>