<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оформление заказа</title>
</head>
<body>
<h2>Оформление заказа</h2>
<p>В зависимости от сложности заказа и загруженности офиса сроки изготовления могут меняться</p>
<p>Поэтому в ближайшее время с Вами <strong>свяжется наш менеджер</strong> для согласования всех деталей</p>
<ul>
    <li>{{ p1 }} <button>Заказать</button></li><br>
    <li>{{ p2 }} <button>Заказать</button></li><br>
    <li>{{ p3 }} <button>Заказать</button></li><br>
    <li>{{ p4 }} <button>Заказать</button></li><br>
    <li>{{ p5 }} <button>Заказать</button></li><br>
</ul>

<p>Если Вам пока тяжело определиться с заказом, можете оставить заявку на звонок</p>
<p>Наш менеджер в ближаейшее время с Вами свяжется</p>
<p><button>Перезвоните мне</button></p><br>
<p><button onclick="window.location.href='/'">Главная страница</button></p>
</body>
</html>